* {
    padding: 0;
    margin: 0;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1B262C;
    height: 100%;
    width: 20em;
    animation: slide-in-left 0.5s ease;
}

.menuFooter {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 2em;
}

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }