.userInput {
    margin: 1.5em 0;
    position: relative;
}

.userInput label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 14px;
    letter-spacing: 0.2px;
    padding: 0 5px;
    transition: 0.3s;
    color: darkgrey;
    background: transparent;
    pointer-events: none;
}

.userInput input {
    width: 20em;
    height: 2em;
    padding: 0.3em 1em 0;
    background: #FFF;
    border: 1.2px solid #1B262C;
    outline: none;
    border-radius: 3px;
    transition: border-color 0.3s border-width 0.3s;
}

.userInput input:focus {
    border-color: #3282B8;
}

.userInput input:focus~label,
.userInput input:valid~label {
    top: 0;
    font-size: 12px;
    font-weight: bold;
    color: #1B262C;
    background-color: #FFF;
}